@import 'src/themes.scss';

.wordle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    min-height: 90%;
    flex-direction: column;
    justify-content: center;
}

.wordle-letter {
    background-color: $wordle-gray;
    color: white;
    padding: 10px;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    text-transform: uppercase;
}

#guesses-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

#keyboard-container {
    height: 200px;
    margin-top: auto;
    padding-bottom: 16px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    text-transform: uppercase;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    font-size: 16pt;
    border: 0;
    padding: 0;
    height: 64px;
    cursor: pointer;
    color: black;
    flex-grow: 1;
    margin-right: 6px;
    user-select: none;
    text-align: center;
    text-transform: uppercase;
}

button.wide-button {
    flex-grow: 1.5;
}

.side-space {
    flex-grow: .5;
}

// https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable
.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }