<div [ngStyle]="{'background-color': darkMode ? '#121213' : 'white'}">
    <h2 id="title" mat-dialog-title [ngStyle]="{'color': darkMode ? 'white' : 'black'}">Settings</h2>
    <mat-dialog-content class="mat-typography darkDialog">
        <br>
        <div>
            <div class="settings">
                <span class="setting-name" [ngStyle]="{'color': darkMode ? 'white' : 'black'}">
                    Dark Mode
                </span> 
                <span>
                    <mat-slide-toggle [formControl]="darkModeToggleControl" color="primary"></mat-slide-toggle>
                </span>
            </div>
            <hr style="height: 1px; border: none" [ngStyle]="{'background-color': darkMode ? '#818384' : '#d3d6da'}">
            <div class="settings">
                <span class="setting-name" [ngStyle]="{'color': darkMode ? 'white' : 'black'}">
                    High Contrast Mode
                </span>
                <span>
                    <mat-slide-toggle [formControl]="contrastToggleControl" color="primary"></mat-slide-toggle>
                </span>
            </div>
        </div>
    </mat-dialog-content>
</div>